{% extends 'base.html.twig' %}

{% block title %} RBN'B {% endblock %}


{% block body %}

<h1>Bienvenue sur RBN'B</h1>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quod consequatur, reprehenderit accusantium impedit modi voluptatibus culpa, itaque aut tenetur sunt nam magnam officia aliquid odio quae dolore hic quisquam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quod consequatur, reprehenderit accusantium impedit modi voluptatibus culpa, itaque aut tenetur sunt nam magnam officia aliquid odio quae dolore hic quisquam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quod consequatur, reprehenderit accusantium impedit modi voluptatibus culpa, itaque aut tenetur sunt nam magnam officia aliquid odio quae dolore hic quisquam.</p> 

{% endblock %}