{# Formulaire twig #}
{{ form_start(form) }}
{# Possibilité de modifier dans le formulaire l'affichage, à l'interieure des balises twig start et end #}
    {{ form_widget(form) }}
{# button du formulaire #}
    <button type="submit" class="btn btn-secondary">Ajouter l'annonce</button>
{{ form_end(form) }}
