{% extends 'base.html.twig' %}

{% block title %}New Annonces{% endblock %}

{% block body %}
    <h1>Crée une nouvelle annonce</h1>

    {{ include('annonces/_form.html.twig') }}

    <a href="{{ path('annonces_index') }}" class="btn btn-primary">Revenir en arrière</a>
{% endblock %}
